<div class="about-us">
  <h2>About Us</h2>

  <h3>What</h3>

  <p>ToledoTechEvents.org is a community calendar of technology-related events for the Toledo (Ohio) region. The calendar is focused on events about software development, information technology, digital products, hardware and other technology topics. It also includes events related to technology startups (such as entrepreneurship) and technology design (such as user experience).</p>

  <p>As a community calendar, individuals and groups should take responsibility for adding, updating and maintaining event content. If you are an organization that hosts relevant events, you should add your own entries and keep them up to date. If you are an individual and you hear about an event that is not already in the calendar, you should add it. If you notice something incorrect, fix it.</p>

  <p>We hope that people check the site on a regular basis to see what is going on. Event planners can use it to look for possible conflicts for a future date, search for possible collaborators, and evaluate the usefulness of venues.</p>

  <p>We put time and effort into Toledo Tech Events because we believe a community calendar is one ingredient in a healthy and growing technology industry for a region.</p>

  <h3>Volunteers</h3>

  <p>Toledo Tech Events was created by Jason Slagle, who is in charge of hosting the site. Patrick McSweeny has added features to the software as well as designing and coding a new theme. Keith Instone regularly adds events and maintains the content.</p>

  <p>If you would like to also be a volunteer, contribute to the cause, or just stay up to date on what is happening with Toledo Tech Events, join the <a href="https://groups.google.com/forum/?hl=en#!forum/tol-calagator">Google group</a> and introduce yourself. </p>

  <h3>Software</h3>

  <p>Toledo Tech Events is based on the <a href="http://calagator.org/">Calagator</a> software developed by the technology community in Portland, Oregon. It has been updated for our use.</p>

  <h3>Help garden the site.</h3>
  <ul>
    <li>Help us remove <a href='/events/duplicates'>duplicate events</a> and <a href='/venues/duplicates'>duplicate venues</a>.</li>
    <li><a href="https://github.com/jmslagle/calagator">Contribute code</a> on GitHub</li>
    <li>Add details to existing events and venues.</li>
    <li>Correct missing venues and incomplete venue addresses.</li>
  </ul>
</div>
